:root {
    --clr-text: #907fa4;
    --clr-bg: #a6d6d6;
    --clr-container: #a58faa;
    --clr-border: #ededd0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
    background-color:var(--clr-bg);
}
h1 {
    color: var(--clr-text);
}
.wrapper {
   display:flex;
   flex-direction: column;
   align-items:center;
}
#reset {
    margin: 2% 0 20%;
    padding: 5px 8px;
    color: rgb(23, 156, 94);
    
}
#container {
    height: 400px;
    width: 400px;
    border: 1px solid red;
    display: grid;
    background-color: var(--clr-container);
}
.box {
    /* background-color: var(--clr-text); */
    background-color: white;
    /* padding: 20px; */
    border: 1px solid var(--clr-border);
}

@media screen and (max-width: 500px) {
    #container {
        max-width: 300px;
        max-height: 300px;
    }
}